html, body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.alldomz * {
  background-color: #333;
  width: 100px;
  height: 100px;
  margin: 0 0 10px 0;
  border: 0;
  box-sizing: border-box;
  color: #aaa;
  font-family: sans-serif;
  vertical-align: middle;
  line-height: 100px;
}


#container {
  border: 1px solid;
  width: 100%;
  max-width: 100%;
  /*height: 500px;*/
  /*position: absolute;*/
  box-sizing: border-box;
  overflow: hidden;
}

#scroll {
  width: 1px;
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
}

#scroll > div {
  pointer-events: none;
}

canvas {
  position: absolute;
  left:102px;
  border: 1px solid red;
  z-index: -2;
}

.alldomz {
  position: absolute;
  border: 1px solid green;
  z-index: -1;
}

.settings {
  position: fixed;
  top: 10px;
  left: 800px;
  width: 300px;
  padding: 20px;
  background: #eed;
  will-change: transform;
}

.help {
  display: none;
  position: fixed;
  will-change: transform;
  width: 1050px;
  height: 93%;
  background: #eee;
  top: 10px;
  left: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
}

.close-link {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*** Slider ***/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}